<%= form_for @producto do |f| %>
    <div>
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>
    </div>
    <div>
        <%= f.label :descripcion %>
        <%= f.text_area :descripcion %>
    </div>
    <div>
        <%= f.label :precio %>
        <%= f.number_field :precio %>
    </div>
    <div>
        <%= f.submit %>
    </div>

<% end %>